@font-face {
    font-family: IRANSansWeb;
    src: url('../fonts/font-sanse/eot/IRANSansWeb.eot');
    src: url('../fonts/font-sanse/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font-sanse/woff/IRANSansWeb.woff') format('woff'),
        url('../fonts/font-sanse/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
  }
  @font-face{
    font-family: IRANSansWeb;
    src: url('../fonts/irsnum.ttf') format('truetype');
    src: url('../fonts/irsnum1.ttf') format('truetype');
  }
  html,body,div,header,span,h1,h2,h3,h4,h5,h6,a,p,table,button,input,textarea,.bb{
    font-family: IRANSansWeb !important; 
}
.header-area {
    direction: rtl;
}
.newletter_area{
    direction: rtl;
    text-align: right;
}
.about_story-rtl{
  text-align: center;
}
.story_heading h3{
text-align: right !important;
}
.register-rtl{
  direction: rtl;
  text-align: right;
}
.reg-left{
  text-align: left !important;
}